#root {
    -fx-background-color: transparent;
}

#postIt {
    -fx-arc-height: 2em;
    -fx-arc-width: 2em;
    -fx-border-color: #81e5ff;
}

#postItTitle {
    -fx-font-family: Arial;
    -fx-font-size: 14pt;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

#titoloField {
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-font-size: 20pt;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

#coloreHBox {
    -fx-background-color: transparent;
    -fx-alignment: bottom-left;
    -fx-spacing: 0;
}

#coloreLbl {
    -fx-font-size: 20pt;
    -fx-font-family: Arial;
    -fx-padding: 5;
}

.text-area {
    -fx-background-color: transparent;
    -fx-font-size: 16pt;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}


.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content .text {
    -fx-text-alignment: center;
    -fx-font-size: 20;
}

.scroll-bar {
    -fx-pref-width: 30;
    -fx-translate-x: 10;
    -fx-background-color: linear-gradient(chartreuse, yellow);
    -fx-background-radius: 2em;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 2em;
}

.thumb {
    -fx-background-color: linear-gradient(lightseagreen, midnightblue, lightslategray);
    -fx-scale-x: 0.9;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
}

.increment-button .increment-arrow {
    -fx-background-color: black;
}

.decrement-button .decrement-arrow {
    -fx-background-color: darkblue;
}

#propGrid {
    -fx-background-radius: 2em;
    -fx-background-color: linear-gradient(to bottom right, grey, green);
    -fx-padding: 10;
}

#scadenzaBox {
    -fx-spacing: 10;
}

#duePuntiLbl {
    -fx-font-size: 12pt;
    -fx-padding: 1;
}

#orarioField {
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 0 0 0.4 0;
}

#lbl {
    -fx-font-family: Arial;
    -fx-font-size: 12px;
}

#priorityField {
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 0 0 0.4 0;
    -fx-border-insets: 0 125 0 0;
    -fx-translate-y: -10;
}

#orarioField:focused, #priorityField:focused {
    -fx-border-color: #21f301;
}