.root {
    -fx-background-color: linear-gradient(lightsteelblue, cornsilk);
}

.tab-pane .tab {
    -fx-background-color: grey;
}

#btn, #esciBtn {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, lightslategray, darkblue);
    -fx-pref-height: 35;
    -fx-background-radius: 1em;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 12pt;
    -fx-pref-width: 170;
}

#btn:hover {
    -fx-background-color: linear-gradient(#13425f, #0a1a27, #13425f);
}

#esciBtn {
    -fx-background-color: linear-gradient(#669cd4, #0f786f);
}

#esciBtn:hover {
    -fx-background-color: linear-gradient(#695252, #510a2c, #695252);
}

.tab-pane .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 9pt;
    -fx-text-alignment: center;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: linear-gradient(black, grey);
    -fx-padding: 4 10 4 30;
    -fx-font-family: Arial;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: linear-gradient(khaki, cornflowerblue);
    -fx-background-insets: 0 1 1 0, 1 2 0 1, 2 3 0 2;
}

.tab-pane > .tab-header-area > .headers-region > .tab:disabled:hover {
    -fx-color: -fx-base;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: linear-gradient(grey, white);
    -fx-border-insets: -10;

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

#srcLabel {
    -fx-text-fill: mediumaquamarine;
    -fx-font-family: Arial;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

#titoloField {
    -fx-prompt-text-fill: white;
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #518484, cadetblue);
    -fx-background-radius: 5em;
    -fx-font-family: Arial;
    -fx-alignment: center;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-border-radius: 5em;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-insets: 5px;
    -fx-pref-width: 170;
}

#title {
    -fx-alignment: CENTER;
    -fx-text-fill: linear-gradient(chartreuse, white);
}

#postActions {
    -fx-padding: 10 10 0 0;
    -fx-background-color: radial-gradient(center 90px 50px, radius 300px, cornflowerblue, white);
    -fx-opacity: 0.9;
    -fx-alignment: top-center;
    -fx-spacing: 10;
    -fx-border-width: 2;
    -fx-border-radius: 0 30 30 15;
    -fx-background-radius: 0 30 30 15;
    -fx-border-color: cornflowerblue linear-gradient(cornflowerblue, grey) linear-gradient(grey, cadetblue) grey;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

#taskTextWrapper {
    -fx-background-color: transparent;
}

#post_it_grid {
    -fx-alignment: top-left;
    -fx-padding: 20;
}

#textWrapper {
    -fx-alignment: TOP-CENTER;
    -fx-translate-y: 35;
}

#post_it {
    -fx-alignment: BOTTOM-CENTER;
    -fx-spacing: 20;
}

#post_it:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#scadenzaText {
    -fx-font-family: Arial;
    -fx-font-size: 11pt;
    -fx-fill: WHITE;
    -fx-font-weight: bold;
}

#scadenzaTextWrapper {
    -fx-background-color: radial-gradient(center 90px 50px, radius 400px, black, white);
    -fx-background-radius: 0.6em;
    -fx-translate-y: 18;
    -fx-padding: 5 0 5 0;
}

#scadenzaTextWrapper:hover {
    -fx-background-color: radial-gradient(center 90px 50px, radius 100px, grey, darkcyan);
}

#postItTitle {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

#postItText {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-translate-x: 10;
}

#priorityText {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Rounded MT Bold";
}

#pieChart {
    -fx-background-color: radial-gradient(center -50px 40px, radius 300px, white, darkgrey);
    -fx-background-radius: 30;
}

.chart-pie-label {
    -fx-padding: 10;
    -fx-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.chart-pie-label-line {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.chart-pie.default-color0 {
    -fx-background-color: radial-gradient(center 0px 50px, radius 50px, grey, darkblue);
}

.chart-pie.default-color1 {
    -fx-background-color: radial-gradient(center 0px 0px, radius 50px, red, darkblue);
}

/* SETTINGS */

#settingsGrid {
    -fx-background-color: linear-gradient(#b7b7de, #6e98b9);
    -fx-border-width: 0;
}

.titled-pane {
    -fx-text-fill: white;
}

.titled-pane > *.content {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.titled-pane:focused {
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: linear-gradient(#7272cd, #3e6484);
    -fx-background-insets: 0, 1, 2;
    -fx-pref-height: 30;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane > .title > .text {
    -fx-translate-y: -4;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-translate-x: -3;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: linear-gradient(#5acf66, cornflowerblue);
}

.setLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.text-field {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
    -fx-border-radius: 2em;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 2em;
    -fx-alignment: center;
}


.split-menu-button {
    -fx-background-color: transparent;
}

.split-menu-button .label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 13px;
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-radius: 1em 0 0 1em;
    -fx-border-radius: 1em;
}

.split-menu-button .arrow-button {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-radius: 0 1em 1em 0;
}

.split-menu-button .arrow-button:hover {
    -fx-background-color: grey;
}

.split-menu-button .arrow {
    -fx-background-color: black;
}

.split-menu-button .menu-item {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
}

.split-menu-button .menu-item:hover {
    -fx-background-color: linear-gradient(black, grey);
}

.split-menu-button .menu-item .label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12px;
    -fx-text-fill: beige;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.setBtn {
    -fx-background-radius: 1em;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-pref-height: 10px;
    -fx-pref-width: 100px;
}

#setResetBtn {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #476ae1, #5757c6);
}

#setResetBtn:hover {
    -fx-background-color: radial-gradient(center 30px 10px, radius 80px, #9996ba, #313754);
}

#setSalvaBtn {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #31c996, #0b2344);
}

#setSalvaBtn:hover {
    -fx-background-color: radial-gradient(center 30px 10px, radius 80px, #50a345, #c8ff78);
}

#setRimuoviBtn {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #b9424d, #c61a43);
}

#setRimuoviBtn:hover {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #c9727c, #bd405f);
}