#root {
    -fx-background-color: transparent;
}

#postIt {
    -fx-arc-height: 1em;
    -fx-arc-width: 1em;
}

#postItTitle {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 14pt;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

#titoloField {
    -fx-background-color: transparent;
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 20pt;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

#coloreHBox {
    -fx-background-color: transparent;
    -fx-alignment: bottom-left;
    -fx-spacing: 0;
}

#colorsContainer {
    -fx-orientation: RIGHT TO LEFT;
    -fx-alignment: BOTTOM_RIGHT;
    -fx-spacing: 0;
}

#colorRectangleVBoxWrapper {
    -fx-alignment: BOTTOM_LEFT;
}

#coloreLbl {
    -fx-font-size: 20pt;
    -fx-font-family: "Bookman Old Style";
    -fx-padding: 5;
}

.text-area {
    -fx-background-color: transparent;
    -fx-font-size: 16pt;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}


.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content .text {
    -fx-text-alignment: center;
    -fx-font-size: 20;
}

.scroll-bar {
    -fx-pref-width: 15;
    -fx-translate-x: 0;
    -fx-background-color: linear-gradient(chartreuse, yellow);
    -fx-background-radius: 2em;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 2em;
}

.thumb {
    -fx-background-color: linear-gradient(lightseagreen, midnightblue, lightslategray);
    -fx-scale-x: 0.9;
}

.increment-button, .decrement-button {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

.increment-button .increment-arrow {
    -fx-background-color: black;
}

.decrement-button .decrement-arrow {
    -fx-background-color: darkblue;
}

.property-class {
    -fx-background-color: linear-gradient(to bottom right, #c7e8d5, #cdcdf7);
    -fx-background-radius: 1em 0 0 2em;
    -fx-padding: 10;
}

#scadenzaBox {
    -fx-spacing: 10;
}

#orarioField {
    -fx-background-color: transparent;
    -fx-font-family: "Bookman Old Style";
    -fx-alignment: center;
    -fx-prompt-text-fill: #676565;
    -fx-border-color: black;
    -fx-border-width: 0 0 0.1 0;
    -fx-max-width: 50;
}

.lbl {
    -fx-font-size: 10px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.propTitle {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 12pt;
}

#prioritySpinner {
    -fx-background-color: linear-gradient(cornsilk, cornflowerblue);
    -fx-font-family: "Bookman Old Style";
    -fx-alignment: center;
    -fx-border-color: #888888;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-translate-y: -10;
}

#prioritySpinner > .text-field {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

#prioritySpinner .increment-arrow-button {
    -fx-background-color: linear-gradient(#5a5acd, #5bc279);
}
#prioritySpinner .decrement-arrow-button {
    -fx-background-color: linear-gradient(#5bc279, #5a5acd);
}
#prioritySpinner .increment-arrow-button:hover {
    -fx-background-color: linear-gradient(#9dd2ad, #2727b0);
}
#prioritySpinner .decrement-arrow-button:hover {
    -fx-background-color: linear-gradient(#9dd2ad, #2727b0);
}
#prioritySpinner .increment-arrow-button:pressed {
    -fx-background-color: linear-gradient(#9dd2ad, #b7a138);
}
#prioritySpinner .decrement-arrow-button:pressed {
    -fx-background-color: linear-gradient(#9dd2ad, #b7a138);
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: white;
}

.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: white;
}

#orarioField:focused, #prioritySpinner:focused {
    -fx-prompt-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: #2ea3f0;
}

.color {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}

.color:hover {
    -fx-stroke-width: 1.4;
}

#scadenza {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 11px;
}

#scadenza:hover, #scadenza:focused {
    -fx-background-radius: 0;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: transparent;
}

#scadenza > .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}

#scadenza > .text-field {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: grey;
    -fx-alignment: center-right;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

#saveBtn {
    -fx-background-color: transparent;
    -fx-graphic: url('../../images/save.png');
}

#annullaBtn {
    -fx-scale-y: 0.8;
    -fx-background-color: transparent;
    -fx-graphic: url('../../images/exit.png');
}

#removeBtn {
    -fx-background-color: transparent;
    -fx-graphic: url('../../images/trash.png');
}

#saveBtn:hover, #annullaBtn:hover, #removeBtn:hover {
    -fx-background-color: radial-gradient(center 90px 50px, radius 100px, goldenrod, #9f9fbb);
}