.root {
    -fx-background-color: linear-gradient(grey, black);
}

.tab-pane .tab {
    -fx-background-color: grey;
}

.button {
    -fx-background-color: radial-gradient(center 90px 50px, radius 100px, darkslategrey, black);
    -fx-pref-height: 35;
    -fx-background-radius: 1em;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 12pt;
    -fx-pref-width: 170;
}

.button:hover {
    -fx-background-color: radial-gradient(center 90px 50px, radius 200px, midnightblue, cornflowerblue);
}

#esciBtn {
    -fx-background-color: linear-gradient(to bottom right, #163653, #230532);
}

#esciBtn:hover {
    -fx-background-color: linear-gradient(#005d6e, #004448);
}

.tab-pane .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: black;
    -fx-padding: 4 10 4 30;
    -fx-font-family: Arial;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: linear-gradient(indianred, cornflowerblue);
    -fx-background-insets: 0 1 1 0, 1 2 0 1, 2 3 0 2;
}

.tab-pane > .tab-header-area > .headers-region > .tab:disabled:hover {
    -fx-color: -fx-base;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: linear-gradient(grey, white);
    -fx-border-insets: -10;

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

#srcLabel {
    -fx-text-fill: mediumaquamarine;
    -fx-font-family: Arial;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

#titoloField {
    -fx-prompt-text-fill: grey;
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, darkslategrey, #201818);
    -fx-background-radius: 5.0em;
    -fx-font-family: Arial;
    -fx-alignment: center;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-border-radius: 5em;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-insets: 5px;
    -fx-pref-width: 180px;
}

#title {
    -fx-alignment: CENTER;
    -fx-text-fill: linear-gradient(burlywood, cyan);
}

#postActions {
    -fx-padding: 10 10 0 0;
    -fx-background-color: transparent;
    -fx-opacity: 0.9;
    -fx-alignment: top-center;
    -fx-spacing: 10;
    -fx-border-width: 1 2 2 0;
    -fx-border-radius: 0 40 40 15;
    -fx-border-color: cadetblue linear-gradient(cadetblue, grey) linear-gradient(grey, cadetblue) blue;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

#taskTextWrapper {
    -fx-background-color: transparent;

}

#post_it_grid {
    -fx-alignment: top-left;
    -fx-padding: 20;
}

#textWrapper {
    -fx-alignment: TOP-CENTER;
}

#post_it {
    -fx-alignment: BOTTOM-CENTER;
    -fx-spacing: 20;
}

#scadenzaText {
    -fx-font-family: Arial;
    -fx-font-size: 12.5pt;
    -fx-fill: transparent;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
}

#postItTitle {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

#postItText {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-translate-x: 10;
}

#priorityText {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Rounded MT Bold";
}

#pieChart {
    -fx-background-color: radial-gradient(center -50px 40px, radius 300px, wheat, darkslategrey);
    -fx-background-radius: 30;
}

.chart-pie-label {
    -fx-padding: 10;
    -fx-fill: black;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.chart-pie-label-line {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.negative.chart-pie {
    -fx-pie-color: blue;
    -fx-background-color: white;
}

.default-color0.chart-pie {
    -fx-background-color: radial-gradient(center 0px 50px, radius 50px, grey, darkblue);
}

.default-color1.chart-pie {
    -fx-background-color: radial-gradient(center 0px 0px, radius 50px, red, darkblue);
}

/* SETTINGS */

#settingsGrid {
    -fx-background-color: linear-gradient(#0f0f3d, #3e6484);
    -fx-border-width: 0;
}

.titled-pane {
    -fx-text-fill: white;
}

.titled-pane > *.content {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.titled-pane:focused {
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-color: linear-gradient(#0f0f3d, #3e6484);
    -fx-background-insets: 0, 1, 2;
    -fx-pref-height: 30;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane > .title > .text {
    -fx-translate-y: -4;
}

.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-translate-x: -3;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: linear-gradient(#ffdb9e, cornflowerblue);
}

.setLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.text-field {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #445598, #7ec6c6);
    -fx-border-radius: 2em;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 2em;
    -fx-alignment: center;
    -fx-max-width: 200;
    -fx-pref-width: 200;
}

.split-menu-button {
    -fx-background-color: transparent;
}

.split-menu-button .label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 13px;
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #445598, #7ec6c6);
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-background-radius: 1em 0 0 1em;
    -fx-border-radius: 1em;
    -fx-pref-width: 200px;
}

.split-menu-button .arrow-button {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-radius: 0 1em 1em 0;
}

.split-menu-button .arrow-button:hover {
    -fx-background-color: grey;
}

.split-menu-button .arrow {
    -fx-background-color: black;
}

.split-menu-button .menu-item {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
}

.split-menu-button .menu-item:hover {
    -fx-background-color: linear-gradient(black, grey);
}

.split-menu-button .menu-item .label {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12px;
    -fx-text-fill: beige;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.setBtn {
    -fx-background-radius: 1em;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-pref-height: 10px;
    -fx-pref-width: 100px;
}

#setResetBtn {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #476ae1, #5757c6);
}

#setResetBtn:hover {
    -fx-background-color: radial-gradient(center 30px 10px, radius 80px, #9996ba, #313754);
}

#setSalvaBtn {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #31c996, #0b2344);
}

#setSalvaBtn:hover {
    -fx-background-color: radial-gradient(center 30px 10px, radius 80px, #50a345, #c8ff78);
}

#setRimuoviBtn {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #b9424d, #c61a43);
}

#setRimuoviBtn:hover {
    -fx-background-color: radial-gradient(center 30px 0px, radius 200px, #c9727c, #bd405f);
}

/*  DATE PICKER  */

.traDate {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: black;
    -fx-pref-width: 200px;
}

.traDate > .arrow-button {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
    -fx-border-color: black;
    -fx-background-radius: 0 1em 1em 0;
    -fx-border-radius: 0 1em 1em 0;
}

.traDate > .arrow-button:hover {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #a8a524, #237543);
}

.traDate > .text-field {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #4759af, #7ec6c6);
    -fx-background-radius: 1em 0 0 1em;
    -fx-border-radius: 1em 0 0 1em;
    -fx-border-width: 0.6;
    -fx-border-color: black;
}

.traDate:focused > .text-field, .traDate:focused > .arrow-button {
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #16428d, #9ad336);
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.date-picker > .arrow-button > .arrow {
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape: true;
}

.date-picker-popup {
    -fx-background-color: #42953c;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: linear-gradient(#3f4422, #12678d);
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: linear-gradient(#4ccae2, #f5cd5c);
    -fx-background-radius: 4;
    -fx-padding: 2 5 2 5;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.date-picker-popup > * > .spinner > .button:focused {
    -fx-background-color: linear-gradient(#98956c, #d84c0e);
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-color: white;
    -fx-background-color: linear-gradient(cyan, darkcyan);
    -fx-scale-x: 1.1;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: blue;
    -fx-background-insets: 1 0 -1 0, 0;
}

.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: white;
}
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: black;
}
.date-picker-popup > * > .spinner > .button > .left-arrow {
    -fx-padding: 0.433333em 0.35em 0.533333em 0.266667em; /* 4 3 4 2 */
}
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-padding: 0.433333em 0.35em 0.533333em 0.266667em; /* 4 3 4 2 */
}
.date-picker-popup > * > .spinner > .label {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: linear-gradient(#5757a0, cornflowerblue);
}
.date-picker-popup > * > .date-cell {
    -fx-background-color: #8b8bcc;
    -fx-background-insets: 0;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.916667em;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
    -fx-translate-y: 1;
}
.date-picker-popup > * > .week-number-cell {
    -fx-border-color: white;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-background: blue;
    -fx-background-color: transparent;
    -fx-text-fill: #ffe066;
    -fx-translate-y: -1;
}
.date-picker-popup > * > .day-cell {
    -fx-border-color: linear-gradient(darkslategrey, black, cornflowerblue);
    -fx-border-width: 1px;
    -fx-font-size: 1em;
    -fx-background: #44a6a7;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
}

.date-picker-popup > * > .today {
    -fx-background-color: #8b8bcc;
}
.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background-color: linear-gradient(blue, cyan);
}
.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    -fx-background-color: linear-gradient(blue, cyan);
}
.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
    -fx-background-color: linear-gradient(blue, cornflowerblue);
}
.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: linear-gradient(orangered, #13376a);
}
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background-color: grey;
}
.date-picker-popup > * > .day-cell:hover > .secondary-text,
.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text,
.date-picker-popup > * > .selected > .secondary-text {
    -fx-fill: blue;
}
.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    -fx-background-color: blue;
}

.date-picker-popup > * > .previous-month.today:hover,
.date-picker-popup > * > .next-month.today:hover {
    -fx-background-color: blue;
}